*{
  user-select:none
}
.App{
  background: linear-gradient(rgb(152, 160, 235),rgb(240, 108, 130));
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25em;
  height: 80vh;
  background-color: white;
  border-radius: 25px;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container input{
  height: 1.5em;
  width: 15em;
  border-radius: 15px;
  border-width: 15px;
  border:white;
  box-shadow: 0 0 6px rgb(153, 146, 240);
  outline: none;
  padding:10px;
  font-size: 20px;
}
input:focus{   
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 16px rgb(125, 115, 255);
  outline: 0 none;
}
a{
  font-family: verdana;
  text-decoration: none;
  margin-top: 3px;
}
.loginBtn{
  height: 4em;
  width: 24em;
  margin:10px;
  margin-top:8px;
  outline:none;
  background:linear-gradient(rgb(135, 135, 184),rgb(238, 141, 157));
  color: aquamarine;
  font-family: verdana;
  border: none;
  border-radius: 25px;
  font-size: 13px;
  cursor:pointer;
}
.signUp{
height: 4em;
width: 14em;
margin: 10px;
margin-top:28px;
outline:none;
background-color:rgb(141, 141, 240);
color: aquamarine;
font-family: verdana;
border: none;
border-radius: 25px;
font-size: 13px;
cursor:pointer;
}

@media only screen and (max-width: 600px) {
  .loginContainer{
   width:15em;
   height: 58vh;
  }
  .signUp{
    width: 8em;
  }
  .loginBtn{
    width: 14em;
  }
  h1{
    font-size: 18px;
  }
  a{
    font-family: 4px;
  }
  .input-container input{
    width: 8em;
    height: 0.5em;
  }
}

@media only screen and (max-height: 615px) {
  
  .loginContainer{
   width:15em;
   height: 334px;
   margin-top:10px;
  }
  .signUp{
    width:8em;
    margin-top: -5px;
    height: 3.5em;
    font-size: 10px;
  }
  .loginBtn{
    width:10em;
    height: 3em;
    font-size: 12px;
    place-items: center;
    align-items: center;
  }
  h1{
    font-size: 12px;
  }
  a{
    font-size: 10px;
  }
  .input-container input{
    width: 8em;
    height: 10px;
  }
  label{
    font-size: 10px;
  }
}
